.DS_Store
node_modules
/dist
chatid
__pycache__
*.zip
venv

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log*

#Test and configuration files
*config.py
whatsapp*.txt
*.pickle
chatanalysis*.json
*.csv

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
